{% extends 'cabecalho1.html' %}

{% block title %}SISCALC | Sobre{% endblock %}


{% block content %}

{% load static %}

<h4>Sistema de Cálculos PNEP - SISCALC</h4>
<p>Procuradoria Nacional de Execuções e Precatórios/PGU/AGU </p>

<script src="{% static 'js/my_javascript.js' %}">atualizaRelogio()</script>

<main>
  <div class="container">
    <span><center><img src="{% static 'my_images/reduzir.png' %}" width="100"></center></span>
    <br/>
    <p>home.html</p>
  </div>
  <div class="container">
    <span><center><img src="{% static 'images/novo_logo.png' %}" width="100"></center></span>
    <br/>
    <p>home.html</p>
  </div>
  <div class="container">
    <span><center><img src="{% static 'my_images/reduzir.png' %}" width="100"></center></span>
    <br/>
    <p>home.html</p>
  </div>
  <div class="container-fluid">

      <hr/>
    <p style="color: darkgreen; text-align: justify;">A ferramenta de auxílio de cálculo diversos,  não dispensa a necessidade de análise e revisão, por parte do analista, dos dados cadastrais e financeiros importados do SIAPE, caso o resultado apresente divergências em relação ao valor esperado.<br>Inconsistências detectadas deverão ser reportadas para o e-mail pgu.calculos@agu.gov.br, contendo os dados do processo para análise e eventuais ajustes.</p>
    <hr/>
    <br>
    
  </div>

<div class="card">
    <div class="card-header">
      PNEP - Divisão de Automação de Cálculos / Brasília-DF
    </div>
    

    <div class="card-body">
      <h5 class="card-title" style="color:red;">APLICATIVO EM DESENVOLVIMENTO</h5>
      <p class="card-text">Esse aplicativo será utilizado como ferramenta de auxílio de cálculos. 
        Várias funcionalidades serão incorporadas no sistema. <br/>
        Favor deixar suas sugestões na aba Sugestões ou por e-mail para avaliação de prazo de implementação.</p>
      <!-- <a href="#" class="btn btn-primary">Ir par algum lugar</a> -->
    </div>
  </div>

<br/>

<div class="accordion" id="accordionExample">

  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Histórico de implementação
        </button>
      </h2>
    </div>
    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        17/07/2023 - Publicação do aplicativo na máquina virtual sicalc - Sicalc-Rev.1.0<br/>
       
      </div>
    </div>
  </div>
<!--
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Item #2
        </button>
      </h2>
    </div>    
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body" style="color:darkgreen;">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
  
  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Item #3
        </button>
      </h2>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body " style="color:darkblue;">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>

-->
</div>
<!--

<h5>Paleta de Cinza</h5>
  
  
  <div style="background-color: #696969;">
  	 <h1>dimgrey #696969</h1>
  </div>

  
  <div style="background-color: #778899;">
  	<h1>lightslategray #778899</h1>
  </div>

  
  <div style="background-color: #2F4F4F;">
  	<h1>darkslategrey #2F4F4F</h1>
  </div>

  
  <div style="background-color: #D3D3D3;">
  	<h1>lightgrey #D3D3D3</h1>
  </div>

  <div style="background-color: #A9A9A9;">
  	<h1>darkgrey #A9A9A9</h1>
  </div>

  <div style="background-color: #708090;">
  	<h1>slategray #708090</h1>
  </div>

  <div style="background-color: #F5F5DC;">
  	<h1>beige #F5F5DC</h1>
  </div>

  <div style="background-color:#F5DEB3;">
  	<h1>wheat #F5DEB3</h1>
  </div>
  
  <div style="background-color:#DCDCDC;">
  	<h1>gainsboro #DCDCDC</h1>
  </div>

  <div style="background-color: #808080;">
  	<h1>gray #808080</h1>
  </div>
  
  <div style="background-color:#C0C0C0;">
  	<h1>silver #C0C0C0 </h1>
  </div>
  <div style="background-color:  ;">
  	
  </div>
  <div style="background-color:  ;">
  	
  </div>
  <div style="background-color:  ;">
  	
  </div>
  <div style="background-color:#87CEFA;">
  	<h1>lightskyblue #87CEFA
</h1>
  	
  </div>
  <div style="background-color: #6495ED;">
  	<h1>cornflowerblue #6495ED</h1>
  	  </div>
</main>

-->

{% endblock %}

