{% extends 'globals/calculo_cabecalho.html' %}

{% block title %}28,86%{% endblock %}

{% block content %}

<form id="formCalculo317" enctype="multipart/form-data"  action="{% url 'calculo2886' %}" target="_blank" form my-2 my-lg-0" method="POST">
    {% csrf_token %}

  <nav class="navbar fixed-top navbar-expand-lg scrolling-navbar navbar-dark" style="background-color: #696969;">
  

    <a class="navbar-brand" href="{% url 'calculo2886' %}" >SISCALC</a>
    

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>          
    </button>

    <!--<form id="formCalculo317" enctype="multipart/form-data"  action="{% url 'calculo317' %}" target="_blank" form my-2 my-lg-0" method="POST">
      {% csrf_token %}-->
      
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
             <a class="nav-link" href="" style="color: white">Cálculo 28,86%</span></a>                  
          </li>          
        </ul>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item ">
            <button class="btn btn-light"  type="submit">Executar</button>              
          </li>
        </ul>    
    </div>
  </nav>
  
<br/><br/><br/>

<script>
    function toggleSELIC() {
        var aplicarSELIC = document.getElementById("aplicarSELIC");
        var selicJuros = document.getElementById("selecJurosRow");
        // Exibe ou oculta o checkbox "SELIC incide sobre os juros"
        selicJuros.style.display = aplicarSELIC.checked ? "block" : "none";
    }

    document.addEventListener("DOMContentLoaded", function() {
        document.getElementById("linha6").value = 'Ré: ' + document.getElementById("re").value;        
    });
</script>

<main>   
        <div class="container">
            {% include 'globals/dados_do_processo.html' %}
        </div>
        <div class="container">
            {% include 'globals/dados_do_calculo.html' %}
        </div>
        <div class="container">
            {% include 'globals/inclusao_cpf.html' %}
        </div>
        <div class="container">
            {% include 'globals/base_317.html' %}
        </div>
        <div class="container"> 					
            {% include 'globals/dados_do_cabecalho.html' %}            					
        </div>        
    </form>  
 
</main>
{% endblock %}

