{% extends 'cabecalho2.html' %}
{% load humanize %}


{% block title %}SICALC | Ficha financeira{% endblock %}

{% block content %}
{% csrf_token %} 
<nav class="navbar fixed-top navbar-expand-lg scrolling-navbar navbar-dark" style="background-color: #696969;">

  <a class="navbar-brand" href="#">SICALC - Ficha financeira</a>
  
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">        
        <a class="nav-link dropdown-toggle" id="menuexporta" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">Exportar
        </a>        
        <div class="dropdown-menu dropdown-primary" aria-labelledby="menuexporta">
          <a class="dropdown-item" href="#">Arquivo PDF2</a>
          <a class="dropdown-item" href="#">Arquivo Excel</a>
          <a class="dropdown-item" href="#">Arquivo Texto</a>
        </div>
      </li> 
    </ul>     
  </div>
</nav>
<br/><br/><br/>

{% if messages %}
  {% for message in messages %}
    <div class="alert alert-success" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>    
  {% endfor %}
{% endif %}

<div class="container">
    <!-- {{ form.media }} -->
    <p> </p>
</div>

<main>
 
 <!--
  <p>CPF: {{ cpf }}</p>
  <p>Ano inicial: {{ anoinicial }}</p>
  <p>Ano final: {{ anofinal }}</p>
  <p> It is {% now "jS F Y H:i" %}</p>
  <p>It is the {% now "jS \o\f F" %}</p>
  <p>It is {% now "SHORT_DATETIME_FORMAT" %}</p>
  <p>{{ value|date:"D d M Y" }}</p>
  -->
 {% for f in fichas.values %}

  {% for r in f.cadastro.registros %}

  <div class="container-fluid">
    FICHA FINANCEIRA REFERENTE A {{ r.ano | stringformat:"s" }}<br>
    SERVIDOR:  {{   f.cadastro.iu | stringformat:"s"  }} - {{   f.cadastro.nome   }}<br>
    ORGÃO:  {{   r.orgao | stringformat:"s"  }} - {{ r.nomeorgao }} <br>   
    CARGO/LOTAÇÃO: {{ r.codgcargo }}-{{ r.codcargo }} / {{ r.classe }}-{{ r.padrao }} / {{ r.nomecargo }}<br><br>    

  </div>

 
  <div class="container-fluid">
    <table class="table table-striped table-bordered table-sm">
      <thead>
        <tr>
          <th scope="col"><center>Código</center></th>
          <th scope="col"><center>Rubrica</center></th>         
          <th scope="col"><center>R/D</center></th>
          <th scope="col"><center>Seq</center></th>                   
          <th scope="col"><center>JAN</center></th>
          <th scope="col"><center>FEV</center></th>
          <th scope="col"><center>MAR</center></th>
          <th scope="col"><center>ABR</center></th>                   
          <th scope="col"><center>MAI</center></th>
          <th scope="col"><center>JUN</center></th>
          <th scope="col"><center>JUL</center></th>                   
          <th scope="col"><center>AGO</center></th>
          <th scope="col"><center>SET</center></th>
          <th scope="col"><center>OUT</center></th>
          <th scope="col"><center>NOV</center></th>
          <th scope="col"><center>DEZ</center></th>      
        </tr>
      </thead>
     
      <tbody>
          <tr>
            {% for l in f.lancamentos %}
              {% if l.0 == r.ano and l.1 == r.orgao %}
                

            <td align="right">{{ l.2 | stringformat:"s"| rjust:"10" }}</td>              
            <td align="left">{{ l.3 }}</td>
            <td align="right">{% if l.4 == 1 %}R{% else %}D{% endif %}</td>
            <td align="right">{{ l.5 }}</td>
            <td align="right">{{ l.6.0 |  floatformat:2 | intcomma}}</td>
            <td align="right">{{ l.6.1 | floatformat:2 | intcomma }}</td>
            <td align="right">{{ l.6.2 | floatformat:2 | intcomma }}</td>
            <td align="right">{{ l.6.3 | floatformat:2 | intcomma }}</td>
            <td align="right">{{ l.6.4 | floatformat:2 | intcomma}}</td>
            <td align="right">{{ l.6.5 | floatformat:2 | intcomma}}</td>
            <td align="right">{{ l.6.6 | floatformat:2 | intcomma}}</td>
            <td align="right">{{ l.6.7 | floatformat:2 | intcomma}}</td>
            <td align="right">{{ l.6.8 | floatformat:2 | intcomma}}</td>
            <td align="right">{{ l.6.9 | floatformat:2 | intcomma}}</td>
            <td align="right">{{ l.6.10 | floatformat:2 | intcomma}}</td>
            <td align="right">{{ l.6.11 | floatformat:2 | intcomma}}</td>
              {% endif %}
            
              
          </tr>
           {% endfor %}
          
           
      </tbody>
       
    </table>
    <br>
      
  </div>
 {% endfor %}
{% endfor %}  
</main>
{% endblock %}