<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resumo</title>
</head>
<body>
    <h1>Resumo</h1>
    <div class="row">
        <div class="col-6">					  
           <p>194.596.964-49</p>
           <p>042.302.483-34</p>
           <p>221.744.276-72</p>
           <p>238.644.600-00</p>
           <p>370.238.378-68</p>
           <p>318.604.787-00</p>
           <p>601.617.448-34</p>
           <p>002.433.374-34</p>
           <p>008.621.186-20</p>
           <p>016.149.246-00</p>
           <p>131.313.620-49</p>
           <p>113.554.687-87</p>
           <p>054.366.648-49</p>
           <p>047.130.799-87</p>
           <p>102.112.766-34</p>
           <p>126.560.540-87</p>
        </div>
        <div class="col-6">	
            <p>pensionista</p>				  
           <p>180.919.032-00</p>
           <p>341.380.052-34</p>
           <p></p>
        </div>
     </div>    
</body>
</html>